<div class="card bg-light" id='cardHome'>
  <img class="card-img" alt="">
  <div class="card-img-overlay">
    <div class="card-body text-white">
      <h2 class="card-title h2Home">Welcome to Rhonda's RecipesBox</h2>
      <!--<h2 class="card-text h2Home">A great place to share your favorite recipe!</h2>-->
      <!--<h4 class="card-text h4Home">Sign up to add/share your fave recipes or comment on others</h4>-->
    </div>
  </div>
</div>

<div class='container'>
  <div class="row">
    <div class="col-4">
      <h2>View Recipes</h2>
      <p>Browse the recipes for free, and sign up for an account later.</p>
      <p><%= link_to 'View all Recipes »', '#', class: 'btn btn-success btn-xlarge' %></p>
    </div>
    <div class="col-4">
      <h2>Log In</h2>
      <p>Add and update your own recipes. Vote for favourite recipes. Write reviews, and more.</p>
        <p><%= link_to 'Log In »', '#', class: 'btn btn-success btn-xlarge' %></p>
    </div>
    <div class="col-4">
      <h2>Sign Up</h2>
      <p>Get access to add your own recipes, write reviews, and vote for your favourite recipes.</p>
        <p><%= link_to 'Sign Up! :) »', '#', class: 'btn btn-success btn-xlarge' %></p>
    </div>
  </div>
</div>